@import 'bootstrap';
@import 'bootstrap/theme';

body {
  background:
    url(../assets/images/cocktail_bar.jpg) 100%;
    // url(../assets/images/cocktail_i_by_creatunco.jpg) no-repeat;



    background-size: 100%,

    // 800px 900px no-repeat,
    // linear-gradient(to right, rgba(30, 75, 115, 1), rgba(255, 255, 255, 0));
  // background-repeat: no-repeat;

}

.navbar-default {
  background: black;
}
// .main {
//     margin: 0 30px 0 30px;
// }

// .text-center {
//   margin: 0 auto;
// }

.title {
  height: 175px;



}

.title  h1 {
  font-size: 50px;
  color: #F4FCDE;
}

h2 {
  color: #F4FCDE;
}

.well {
  width: 150px;
}

.search-cocktail {
  width: 350px;
}

.each-recipe {
  min-height: 500px;
  max-height: 500px;
  word-wrap: break-word;
  margin-bottom: 10px;
  overflow: auto;
}

.all-button {
  width: 100px;
}

.list-users {
  color: #F4FCDE;
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
  padding: 0;
}

.control-label {
  color: #F4FCDE;
}
