@import 'bootstrap';
@import 'bootstrap/theme';


body {
  background-image: url(../assets/images/craft-cocktails-bkgrnd.png);
}

//NAVBAR SECTION//
.navbar-nav > li.user {
  padding: 15px 5px 15px 5px;
  margin-right: 15px;
  background-image: linear-gradient(to bottom, #dE150f 0%, #c2120d 100%);
  color: black;
}

.nav-pills > li.active > a {
  color: #000;
  background-image: linear-gradient(to bottom, #dbdbdb 0%, #ffffff 100%);
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: black;
}

.navbar-default {
  background: #000;
}
///////

a {
  color: white;
}

a:hover,
a:focus {
  color: #de150f;
}

.text-center {
  height: 310px;
}

.well-message {
  height: 59px;
}

.well-mess {
  height: 40px;
  width: 394px;
  background-color: #f2f2f2;
}

.sugg-sign-in > a,
.sugg-sign-in {
  color: #000;
  padding: 5px 0 0 5px;
}

.main {
    margin-top: 110px;
}

.title {
  height: 249px;
}

.title-wrapper {
  background-color: #000;
  padding: 5px 10px 5px 10px;
  width: 365px;
}

.title  h1 {
  font-size: 50px;
  margin: 0;
  padding: 0;
  color: #ffffff;
  display: inline;
}

h2 {
  color: #3D3D3D;
}

.well {
  width: 235px;
  background: #000;
  padding: 9px;
}



.search-bar {
  background: #000;
  margin-left: 0px;
  margin-right: 0px;
  border-radius: 4px;
  margin-bottom: 10px;

  h3 {
    color: #ffffff;
    float: left;
    margin-left: 35px;
  }

}

.search-cocktail {
  width: 275px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 0;
  min-width: 265px;
}

.each-recipe {
  height: 510px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.cocktail-item {
  height: 500px;
  background-color: rgba(31, 33, 0, 0.0);
}

.pull-right {
  margin-top: -10px;
}

.panel-heading {
  min-height: 55px;
  background: #FFFFFF !important;
}

.panel-title {
  color: #3D3D3D;
}

.panel-body {
  height: 402px;
  word-wrap: break-word;
  overflow: auto;
  background: #FFFFFF !important;
}

.panel-body p {
  color: #000;
}

.panel-footer {
  padding: 20px 15px;
  background-color: rgba(0, 0, 0, .5) !important;
}

.all-button {
  width: 100px;
}

.list-users {
  color: #3D3D3D;
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
  padding: 0;
}

.control-label {
  color: black;
}

.alert-info {
  background: rgba(31, 33, 0, 0.8);
}

.alert-info p {
  color: #ffffff;
}

footer {
  clear: both;
  bottom: 0px;
  margin: 0 auto;
  h5 {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .title {
    height: 203px;
  }
}

@media (max-width: 991px) {
  .search-bar > h3 {
    margin-left: 15px;
  }
}
