@import 'bootstrap';
@import 'bootstrap/theme';

body {
  background-image: url(../assets/images/cocktail_bar.jpg), url(../assets/images/cocktail_i_by_creatunco.jpg), linear-gradient(to right, rgba(30, 75, 115, 1), rgba(255, 255, 255, 0));
  background-repeat: no-repeat;
  background-size: 100%;

}

// .main {
//     margin: 0 30px 0 30px;
// }

// .text-center {
//   margin: 0 auto;
// }

.title {
  height: 175px;
  background: url(../assets/assets/images/cocktail_i_by_creatunco.jpg);


}

.title  h1 {
  font-size: 50px;
  color: #F4FCDE;
}

h2 {
  color: #F4FCDE;
}

.well {
  width: 150px;
}

.search-cocktail {
  width: 350px;
}

.each-recipe {
  min-height: 500px;
  max-height: 500px;
  word-wrap: break-word;
  margin-bottom: 10px;
  overflow: auto;
}
