<h2 class="list-users">My Recipes</h2>

{{#each model as |cocktail|}}

{{#if cocktail.editable}}
  {{#cocktail-item item=cocktail}}
    {{#if isAdmin}}
      {{#link-to 'cocktails.edit' cocktail.id class='btn btn-success btn-xs'}}Edit{{/link-to}}
      <button class="btn btn-danger btn-xs" {{action 'deleteCocktail' cocktail}}>Delete</button>
      {{else if cocktail.editable}}
      {{#link-to 'cocktails.edit' cocktail.id class='btn btn-success btn-xs'}}Edit{{/link-to}}
      <button class="btn btn-danger btn-xs" {{action 'deleteCocktail' cocktail}}>Delete</button>
    {{/if}}
  {{/cocktail-item}}
{{/if}}
{{/each}}
