<div class="">
  <div class="title">
    <div class="title-wrapper">
      <h1>Craft Cocktails</h1>
    </div>
  </div>
</div>

{{#if isAuthenticated}}
<div class="well">
  <ul class="nav nav-pills">
    {{#link-to 'cocktails.index' tagName="li"}}<a href="">All Cocktails</a>{{/link-to}}
    {{#link-to 'cocktails.new' tagName="li"}}<a href="">Add new</a>{{/link-to}}
  </ul>
</div>

{{else}}
<div class='well-message'>
  <div class='well-mess'>
    <h3 class='sugg-sign-in'>{{#link-to "sign-in"}}Sign In{{/link-to}} to enter your own recipes!</h3>
  </div>
</div>

{{/if}}

{{outlet}}
